body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

#game {
    width: 1500px;
    height: 700px;
    background-color: purple;
    border: 5px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    width: 100px;
    height: 600px;
    border: 2px solid orange;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#board {
    width: 1200px;
    height: 600px;
    position : static;
    overflow: hidden;
    background-image: url("../img/floor1.png");
    background-size: 50px 50px;
}

#player {
    background-image: url("../img/hero.png");
    background-origin: border-box;
    background-position: center;
    background-size: 100%;
    position: absolute;
}

#item {
    background-image: url("../img/candy.png");

    background-origin: border-box;
    background-position: center;
    background-size: cover;
    position: absolute;
}

h2 {
    color: white;
    font-size: larger;
    font-weight: 600;
}

#timer {
    color: white;
    font-size: large;
    font-weight: 500;
    line-height: 2rem;
}

#score {
    color: white;
    font-size: large;
    font-weight: 500;
    line-height: 2rem;
}

#end-score-div {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
}

p {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.ennemy1 {
    background-image: url("../img/jack-o’-lantern.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
}

.ennemy2 {
    background-image: url("../img/ghost.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.ennemy2-left-to-right {
    background-image: url("../img/ghost.png");
    transform: scaleX(-1);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.ennemy2-right-to-left {
    background-image: url("../img/ghost.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.ennemy2-up-to-down {
    background-image: url("../img/ghost.png");
    transform: rotate(-90deg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.ennemy2-down-to-up {
    background-image: url("../img/ghost.png");
    transform: scaleX(-1);
    transform: rotate(90deg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}