body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

#game {
    width: 1500px;
    height: 700px;
    background-color: purple;
    border: 5px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    width: 100px;
    height: 600px;
    border: 2px solid orange;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#board {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    background-color: white;
}

#player {
    background-color: limegreen;
    position: absolute;
}

#item {
    background-color: gold;
    position: absolute;
}

h2 {
    color: white;
    font-size: larger;
    font-weight: 600;
}

#timer {
    color: white;
    font-size: large;
    font-weight: 500;
    line-height: 2rem;
}